Icon?
.DS_Store
.svn
code_coverage
*~
*.swp
coverage
kohana_release
nbproject
build
composer.lock
composer.phar
vendor/*
.idea
.htaccess
application/config/database.php
application/config/url.php
application/database/db.sqlite
media/upload
media/imagecache