[submodule "modules/auth"]
	path = modules/auth
	url = https://github.com/shibakomino/auth.git
[submodule "modules/cache"]
	path = modules/cache
	url = https://github.com/shibakomino/cache.git
[submodule "modules/codebench"]
	path = modules/codebench
	url = https://github.com/shibakomino/codebench.git
[submodule "modules/database"]
	path = modules/database
	url = https://github.com/shibakomino/database.git
[submodule "modules/image"]
	path = modules/image
	url = https://github.com/shibakomino/image.git
[submodule "modules/minion"]
	path = modules/minion
	url = https://github.com/shibakomino/minion.git
[submodule "modules/orm"]
	path = modules/orm
	url = https://github.com/shibakomino/orm.git
[submodule "modules/unittest"]
	path = modules/unittest
	url = https://github.com/shibakomino/unittest.git
[submodule "modules/userguide"]
	path = modules/userguide
	url = https://github.com/shibakomino/userguide.git
[submodule "system"]
	path = system
	url = https://github.com/shibakomino/core.git
	branch = 3.7/develop
[submodule "modules/core/config"]
	path = modules/core/config
	url = https://github.com/shibakomino/kohana-core-config.git
[submodule "modules/core/wrapper"]
	path = modules/core/wrapper
	url = https://github.com/shibakomino/kohana-core-wrapper.git
[submodule "modules/core/log"]
	path = modules/core/log
	url = https://github.com/shibakomino/kohana-core-log.git
[submodule "modules/core/expose"]
	path = modules/core/expose
	url = https://github.com/shibakomino/kohana-core-expose.git
	branch = 3.7/master
[submodule "modules/core/cookie"]
	path = modules/core/cookie
	url = https://github.com/shibakomino/kohana-core-cookie.git
	branch = 3.7/master
[submodule "modules/core/cache"]
	path = modules/core/cache
	url = https://github.com/shibakomino/kohana-core-cache.git
[submodule "modules/core/utils"]
	path = modules/core/utils
	url = https://github.com/shibakomino/kohana-core-utils.git
[submodule "modules/core/encrypt"]
	path = modules/core/encrypt
	url = https://github.com/shibakomino/kohana-core-encrypt.git
	branch = 3.7/master
[submodule "modules/core/mvc"]
	path = modules/core/mvc
	url = https://github.com/shibakomino/kohana-core-mvc.git
[submodule "modules/core/i18n"]
	path = modules/core/i18n
	url = https://github.com/shibakomino/kohana-i18n.git
	branch = 3.7/master
[submodule "modules/core/html"]
	path = modules/core/html
	url = https://github.com/shibakomino/kohana-core-html.git
[submodule "modules/core/validate"]
	path = modules/core/validate
	url = https://github.com/shibakomino/kohana-core-validate.git
[submodule "modules/core/curl"]
	path = modules/core/curl
	url = https://github.com/shibakomino/kohana-core-curl.git
